#mylogo{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 37px;
}
p{
    top: 120px;
    position: absolute;
}
h1{
    font-size: xxx-large;
    font-family: 宋体;
    position: absolute;
    left: 150px;
    top: 20px;
}
#main{
    border: 1px solid;
    width: 1300px;
    height: 500px;
    position: relative;
    left: 100px;
    top: 170px;
    margin-right: auto;
    overflow: auto;
}
#myOrder, #orders{
    position: absolute;
    left: 1240px;
    top: 150px;
    font-size: larger;
}
#return{
    position: absolute;
    left: 1320px;
    top: 150px;
    font-size: larger;
}
td{
    height: 50px;
    width: 200px;
    text-align: center;
}
table{
    position: relative;
    margin: auto;
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid #e3e3e3;
}